.add-ingred {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  
  .add-ingred-input {
    flex-grow: 1;
    width: 80%;
    margin-right: 0.5rem;
  }

.alert-error{
  font-size: 15px;
  height: 50;

}